.bgimg {
  background-image: url("/msgtheme3.jpg");
  background-size: contain;
  background-position: left;
}
.bgimg1 {
  background-image: url("/chattheme15.jpg");
  background-size: cover;
  /* background-repeat: repeat-y; */
  background-position: left;
  color: dimgrey;
}
/* 9,13,14,15 */
