@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

/* body {
  overflow: hidden;
} */

title {
  font-size: 5rem;
}

html,
body {
  overflow: hidden;
}
#root {
  flex: 1;
  height: 100dvh;
  display: flex;
  flex-direction: row;
}
